In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import precision_recall_fscore_support
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
import pickle

In [2]:
crew_roi_data = pd.read_csv('../../Sample_Data/For_Modeling/person.averageroi.tsv', sep='\t')

In [3]:
crew_roi_list = crew_roi_data.values.tolist()
crew_roi_dict = {}
for crew_roi in crew_roi_list:
    crew_roi_dict[crew_roi[0]] = float(crew_roi[1])
crew_roi_dict

{'nm0000019': 0.4,
 'nm0000033': 4.016666666666667,
 'nm0000037': 2.8346456692913384,
 'nm0000040': 2.88679301148413,
 'nm0000041': 1.18193164,
 'nm0000076': 0.017371875,
 'nm0000092': 4.977836388888888,
 'nm0000095': 1.2701804863360395,
 'nm0000101': 5.096687227777778,
 'nm0000104': 0.13028013333333333,
 'nm0000106': 0.8718122666666667,
 'nm0000108': 1.2417243166727063,
 'nm0000110': 1.3562651878787877,
 'nm0000114': 0.4425489230769231,
 'nm0000116': 2.0830875269588143,
 'nm0000118': 19.547559438527585,
 'nm0000120': 6.0181163333333325,
 'nm0000123': 0.9971593522702936,
 'nm0000126': 5.969355989878542,
 'nm0000127': 6.041677589885234,
 'nm0000128': 0.18667186666666666,
 'nm0000129': 1.37784555,
 'nm0000131': 1.0980764722222225,
 'nm0000141': 0.19426600000000002,
 'nm0000142': 2.150714227002354,
 'nm0000149': 0.8128798080246913,
 'nm0000154': 3.783474509444445,
 'nm0000158': 5.76495395,
 'nm0000160': 2.799975666666666,
 'nm0000163': 1.6716688181818182,
 'nm0000165': 1.1105531280168492,
 'nm0000169': 0.1518743125,
 'nm0000175': 2.9396853201483535,
 'nm0000180': 4.287436192424242,
 'nm0000184': 4.44361169184723,
 'nm0000185': 0.630105,
 'nm0000186': 35.3098933,
 'nm0000188': 1.2898054939393941,
 'nm0000196': 3.773606971730671,
 'nm0000200': 0.61325156,
 'nm0000209': 0.0906240625,
 'nm0000217': 1.5624461274767372,
 'nm0000219': 0.77180916,
 'nm0000226': 0.4655545923076923,
 'nm0000228': 0.07069600000000001,
 'nm0000229': 4.1778123460900405,
 'nm0000230': 1.675255486846544,
 'nm0000231': 3.000558893604572,
 'nm0000233': 2.6411400680204884,
 'nm0000241': 5.7536367395833325,
 'nm0000243': 1.8506639333333328,
 'nm0000246': 0.26490640000000004,
 'nm0000247': 0.7516505093311037,
 'nm0000251': 0.978235584045584,
 'nm0000255': 5.686588817775857,
 'nm0000264': 1.3723262765957451,
 'nm0000265': 1.4666631241715402,
 'nm0000269': 0.6046680117647059,
 'nm0000277': 1.5186092795997108,
 'nm0000316': 14.331660081138766,
 'nm0000318': 2.315215394717136,
 'nm0000329': 1.1546543,
 'nm0000335': 0.40195946666666665,
 'nm0000338': 2.653922514213036,
 'nm0000339': 1.2915795,
 'nm0000341': 1.880995195893878,
 'nm0000343': 0.7653456700120773,
 'nm0000345': 2.034949413043478,
 'nm0000354': 13.8433435,
 'nm0000361': 1.2674211713068178,
 'nm0000362': 0.3586707476190476,
 'nm0000365': 2.799975666666666,
 'nm0000367': 0.37364415384615385,
 'nm0000382': 0.3418394021505376,
 'nm0000386': 1.341268772428571,
 'nm0000390': 4.337630138095238,
 'nm0000399': 1.8362603502180541,
 'nm0000406': 2.9160927029039465,
 'nm0000408': 1.1372154760315771,
 'nm0000410': 0.1870083571428572,
 'nm0000416': 2.1709018343866497,
 'nm0000431': 5.660740587179487,
 'nm0000436': 1.2275795682441135,
 'nm0000438': 1.22169435,
 'nm0000455': 2.103095479906787,
 'nm0000464': 1.1561700290909092,
 'nm0000466': 0.27731177460317463,
 'nm0000473': 0.900947725,
 'nm0000484': 15.624272555111116,
 'nm0000487': 2.5218542850733097,
 'nm0000490': 4.67985830454816,
 'nm0000500': 1.9718474573429956,
 'nm0000513': 0.0112002,
 'nm0000517': 0.9244628878205128,
 'nm0000519': 1.409707816007326,
 'nm0000520': 1.0178191674693509,
 'nm0000540': 9.0,
 'nm0000552': 3.7048268523809518,
 'nm0000559': 3.86447948765432,
 'nm0000568': 0.8649378429966331,
 'nm0000570': 0.608462603030303,
 'nm0000576': 0.9177178,
 'nm0000583': 1.1563565370539215,
 'nm0000591': 0.7100057691729322,
 'nm0000600': 1.4084140786806298,
 'nm0000601': 8.092059568231015,
 'nm0000602': 0.732165373015873,
 'nm0000604': 1.5456737384615384,
 'nm0000621': 0.50853722,
 'nm0000625': 2.205877833333333,
 'nm0000626': 0.392567035971686,
 'nm0000631': 1.3615834935627849,
 'nm0000632': 0.8442085133333334,
 'nm0000636': 1.890685424002229,
 'nm0000638': 1.7403349666666668,
 'nm0000647': 0.004577899999999999,
 'nm0000653': 0.7209068166666667,
 'nm0000659': 2.2421662785714287,
 'nm0000668': 2.2548584862653422,
 'nm0000671': 5.063589325576536,
 'nm0000681': 2.0514248108974362,
 'nm0000682': 0.8134371111111112,
 'nm0000691': 12.2249048417094,
 'nm0000697': 6.275,
 'nm0000698': 30.82142857142857,
 'nm0000709': 3.2265586292748503,
 'nm0000720': 13.203257246428572,
 'nm0000725': 0.019908666666666668,
 'nm0000750': 0.69008775,
 'nm0000759': 1.0184943233333337,
 'nm0000770': 0.0187737,
 'nm0000776': 1.7454370450292398,
 'nm0000783': 0.5942376,
 'nm0000786': 1.8722904666666669,
 'nm0000788': 0.12903656,
 'nm0000797': 0.07250633333333334,
 'nm0000801': 0.2887904362980769,
 'nm0000806': 0.06348554285714286,
 'nm0000807': 1.281939208513709,
 'nm0000809': 2.097779825,
 'nm0000812': 3.2806657594444437,
 'nm0000816': 2.3663517306818185,
 'nm0000829': 0.9051103212121212,
 'nm0000837': 2.294450277777778,
 'nm0000850': 14.564,
 'nm0000867': 0.7779614,
 'nm0000875': 0.8279370056790123,
 'nm0000876': 1.6571334386941252,
 'nm0000877': 7.462425866666668,
 'nm0000881': 1.4874061649082793,
 'nm0000886': 2.792675095734096,
 'nm0000887': 0.6365459841194968,
 'nm0000907': 0.44993028,
 'nm0000915': 1.0903816472222223,
 'nm0000916': 1.1658766844955046,
 'nm0000921': 23.02180263354701,
 'nm0000927': 2.0,
 'nm0000934': 1.41185054,
 'nm0000941': 0.9420730576388888,
 'nm0000948': 1.7332649968498897,
 'nm0000952': 0.4815076666666666,
 'nm0000957': 0.4372461909090909,
 'nm0000958': 1.2680181388888891,
 'nm0000965': 4.257263122030212,
 'nm0000976': 5.429574981844588,
 'nm0000985': 1.5432955698850574,
 'nm0001005': 2.217618764005602,
 'nm0001008': 1.7241379310344829,
 'nm0001022': 2.522720625,
 'nm0001024': 2.255688014983165,
 'nm0001031': 0.030299666666666662,
 'nm0001037': 8.569239999999999,
 'nm0001040': 0.943823275,
 'nm0001050': 3.333333333333333,
 'nm0001053': 1.6694469514337242,
 'nm0001054': 1.6694469514337242,
 'nm0001060': 3.4726053564081605,
 'nm0001068': 2.6655988535714292,
 'nm0001070': 1.0692123555555555,
 'nm0001081': 2.509353613079365,
 'nm0001084': 3.172474004141122,
 'nm0001093': 0.8954375388888891,
 'nm0001094': 0.8450705582380953,
 'nm0001102': 3.777972534818181,
 'nm0001104': 1.2652459329629628,
 'nm0001112': 1.920176523529412,
 'nm0001124': 9.0,
 'nm0001129': 2.578439844764957,
 'nm0001139': 0.11,
 'nm0001140': 0.7896579801038893,
 'nm0001149': 2.078240490873016,
 'nm0001162': 0.8324439666666668,
 'nm0001165': 0.15080779487179488,
 'nm0001168': 0.07111253333333334,
 'nm0001170': 9.0,
 'nm0001175': 3.2072576840909086,
 'nm0001188': 1.297504416826923,
 'nm0001191': 2.570300873007246,
 'nm0001207': 0.7777777777777778,
 'nm0001214': 4.04794625,
 'nm0001219': 1.197314499537037,
 'nm0001220': 3.992277076020453,
 'nm0001226': 1.4189685146666666,
 'nm0001232': 9.440291434149183,
 'nm0001241': 1.2766575725898754,
 'nm0001243': 7.9221811529292925,
 'nm0001246': 2.3056155357142862,
 'nm0001252': 0.8118503833333334,
 'nm0001274': 1.2707333333333333,
 'nm0001279': 3.036979525968088,
 'nm0001281': 0.022180500000000002,
 'nm0001282': 0.3387133571428572,
 'nm0001290': 0.03353571428571429,
 'nm0001294': 0.3779148492094862,
 'nm0001300': 1.8566640866666664,
 'nm0001302': 1.8068400208333333,
 'nm0001317': 0.9785520657975678,
 'nm0001331': 0.5971662777777778,
 'nm0001338': 1.4798962677991658,
 'nm0001345': 1.44999513030303,
 'nm0001348': 0.30856339000000005,
 'nm0001351': 17.051483333333334,
 'nm0001353': 0.8462167727272727,
 'nm0001355': 1.0771728653846155,
 'nm0001357': 10.443819766363637,
 'nm0001361': 1.073981660106383,
 'nm0001382': 0.2948495520833333,
 'nm0001385': 8.569239999999999,
 'nm0001392': 1.5441106728371807,
 'nm0001402': 8.569239999999999,
 'nm0001403': 3.283757682267081,
 'nm0001408': 0.4095642935064935,
 'nm0001410': 2.5368547635180376,
 'nm0001415': 10.549450549450553,
 'nm0001438': 29.6968472375,
 'nm0001451': 0.7212569999999999,
 'nm0001460': 1.4934713249999998,
 'nm0001465': 1.8871065079820932,
 'nm0001466': 0.6208425999999999,
 'nm0001469': 4.616445342021341,
 'nm0001471': 1.9050123994588744,
 'nm0001472': 1.47333892,
 'nm0001486': 0.3417657072649573,
 'nm0001490': 12.056172892857143,
 'nm0001508': 1.6609980305851064,
 'nm0001532': 1.7001381878740829,
 'nm0001545': 0.7891665833333333,
 'nm0001554': 0.045766,
 'nm0001565': 2.6972835655736858,
 'nm0001566': 0.7497262458974359,
 'nm0001569': 1.7536256000000001,
 'nm0001570': 0.8169766896551723,
 'nm0001587': 1.3578983611111108,
 'nm0001589': 5.842953333333332,
 'nm0001603': 0.36085721323949177,
 'nm0001628': 4.950026130600358,
 'nm0001639': 0.9338418073015872,
 'nm0001640': 45.96153846153846,
 'nm0001659': 0.8542561764705883,
 'nm0001661': 1.2065211660638644,
 'nm0001674': 0.8971264999999999,
 'nm0001675': 20.985821767725533,
 'nm0001681': 2.451385883971292,
 'nm0001687': 0.37364415384615385,
 'nm0001705': 2.3295129368686878,
 'nm0001707': 0.6758187181972789,
 'nm0001708': 0.9500254417363764,
 'nm0001716': 2.7928477834491976,
 'nm0001723': 2.7284228102686727,
 'nm0001741': 1.6665125322925165,
 'nm0001747': 4.691496736111111,
 'nm0001752': 3.3059985904921065,
 'nm0001754': 5.24767125,
 'nm0001756': 1.2992738883384336,
 'nm0001774': 1.0679780164163877,
 'nm0001775': 3.584201569767442,
 'nm0001778': 1.566248931746032,
 'nm0001779': 1.2200257339612768,
 'nm0001801': 2.57482303125,
 'nm0001806': 0.0836641,
 'nm0001814': 3.809133843792487,
 'nm0001825': 1.897480303968254,
 'nm0001837': 2.5869031371160798,
 'nm0001844': 0.0007030000000000001,
 'nm0001845': 1.1527553833333333,
 'nm0001873': 1.1694711802158446,
 'nm0001874': 1.0282767142857143,
 'nm0001878': 8.102689686054422,
 'nm0001880': 1.1690290836977226,
 'nm0001885': 0.11357107807511735,
 'nm0001920': 1.0129774365079365,
 'nm0001921': 0.8724052733581789,
 'nm0001928': 1.460971842105263,
 'nm0001930': 0.8613394,
 'nm0001940': 13.406392733333336,
 'nm0001949': 0.16016424943485086,
 'nm0001969': 11.916639723511903,
 'nm0001986': 3.7142857142857135,
 'nm0001994': 0.6707085211309524,
 'nm0002005': 1.8695735090909087,
 'nm0002007': 2.0855241428378664,
 'nm0002009': 5.708221047619048,
 'nm0002010': 0.119425175,
 'nm0002031': 3.0,
 'nm0002041': 1.681458406060606,
 'nm0002042': 0.8205330747863249,
 'nm0002044': 1.0179986373550725,
 'nm0002045': 2.8346456692913384,
 'nm0002071': 2.2547840055617683,
 'nm0002077': 0.6864951739130435,
 'nm0002080': 0.4,
 'nm0002083': 0.6185516313797313,
 'nm0002089': 0.8542561764705883,
 'nm0002120': 1.2537799373881349,
 'nm0002132': 3.641705640145986,
 'nm0002137': 0.004577899999999999,
 'nm0002140': 0.03236072727272727,
 'nm0002159': 1.308252775,
 'nm0002160': 0.042857142857142864,
 'nm0002191': 0.05517794444444444,
 'nm0002240': 0.8457259047619048,
 'nm0002271': 2.3076923076923075,
 'nm0002340': 0.0131719,
 'nm0002376': 1.3595876800000002,
 'nm0002417': 1.2832920908088234,
 'nm0002461': 0.3312931176470588,
 'nm0002542': 1.090514352,
 'nm0002582': 1.3516076666666668,
 'nm0002585': 0.7437647333333334,
 'nm0002653': 1.2061572841559554,
 'nm0002657': 2.1214289288888892,
 'nm0002675': 0.84660855,
 'nm0002700': 2.4567560217048885,
 'nm0002718': 0.9169877302964264,
 'nm0002728': 1.00900775,
 'nm0002759': 0.1773836,
 'nm0002864': 2.359689233928572,
 'nm0003021': 1.3185743714285714,
 'nm0003031': 1.2309650278508772,
 'nm0003083': 1.5833333333333333,
 'nm0003088': 1.11107525,
 'nm0003117': 1.7726055316739275,
 'nm0003132': 0.31531105555555555,
 'nm0003134': 0.4554661,
 'nm0003141': 1.2040568355855854,
 'nm0003160': 1.2862383027673745,
 'nm0003198': 2.95,
 'nm0003201': 1.767748433333333,
 'nm0003249': 0.8215526,
 'nm0003298': 1.6341303378056564,
 'nm0003300': 1.2274704666666667,
 'nm0003408': 1.9703951379310345,
 'nm0003418': 2.6634410015145003,
 'nm0003423': 0.9261312241379308,
 'nm0003458': 0.053172000000000004,
 'nm0003474': 0.7833678399999999,
 'nm0003506': 1.8603538521094904,
 'nm0003529': 0.5862370056696371,
 'nm0003535': 0.6345246999999999,
 'nm0003557': 0.2500853333333333,
 'nm0003593': 11.070995670995671,
 'nm0003620': 15.948567487836675,
 'nm0003662': 0.5575651007703407,
 'nm0003733': 1.5433158571428571,
 'nm0003768': 0.4646307638888889,
 'nm0003794': 0.12293568,
 'nm0004025': 0.58926125,
 'nm0004056': 2.91792213921219,
 'nm0004111': 0.61325156,
 'nm0004121': 0.2838652428571429,
 'nm0004170': 2.5861177094503147,
 'nm0004217': 2.4623955357142857,
 'nm0004233': 0.2188499142857143,
 'nm0004234': 0.844802,
 'nm0004303': 0.7713437260606062,
 'nm0004306': 7.644686626794968,
 'nm0004307': 1.0516244444444445,
 'nm0004332': 0.9513716407142856,
 'nm0004363': 0.1430721,
 'nm0004366': 0.7962962962962963,
 'nm0004372': 0.50876885,
 'nm0004410': 0.32091066394517903,
 'nm0004412': 1.6760064980687832,
 'nm0004488': 1.800766125,
 'nm0004554': 0.087532625,
 'nm0004555': 7.196578574074072,
 'nm0004616': 34.0,
 'nm0004675': 1.742225294117647,
 'nm0004716': 15.194522666226748,
 'nm0004798': 2.610926281875902,
 'nm0004805': 0.075446,
 'nm0004886': 2.1145484,
 'nm0004890': 0.5004923043478261,
 'nm0004965': 0.0020399999999999997,
 'nm0004981': 2.526000193103448,
 'nm0004987': 0.18999816666666666,
 'nm0005008': 1.395560108333333,
 'nm0005036': 2.387145759124933,
 'nm0005062': 3.55752466,
 'nm0005069': 5.312165148269231,
 'nm0005076': 0.5347648526315789,
 'nm0005077': 1.5198912,
 'nm0005078': 1.5198912,
 'nm0005082': 0.7471199636243385,
 'nm0005085': 2.2872600666666667,
 'nm0005101': 1.7626886000000002,
 'nm0005116': 0.3478332,
 'nm0005124': 3.0617161558843544,
 'nm0005139': 0.3120041883116883,
 'nm0005170': 12.722674000000001,
 'nm0005175': 5.204464,
 'nm0005189': 0.011653333333333332,
 'nm0005190': 1.9183105707301589,
 'nm0005197': 0.3421132894736842,
 'nm0005218': 1.2357156363636363,
 'nm0005222': 1.9478046000000002,
 'nm0005237': 2.140671316071429,
 'nm0005278': 0.3018336666666667,
 'nm0005290': 3.7668175,
 'nm0005295': 1.566248931746032,
 'nm0005303': 7.406690713333334,
 'nm0005311': 1.944172918032787,
 'nm0005351': 2.9508339545454545,
 'nm0005358': 0.9099487090909092,
 'nm0005363': 1.5969336927654318,
 'nm0005366': 2.7297578761418526,
 'nm0005367': 1.514412750255102,
 'nm0005387': 1.754493726521739,
 'nm0005390': 1.7657973000000002,
 'nm0005421': 0.8461195861952863,
 'nm0005436': 4.092669610372083,
 'nm0005450': 1.5151518216911766,
 'nm0005509': 2.1031866723339685,
 'nm0005515': 0.18999816666666666,
 'nm0005522': 0.012775652173913044,
 'nm0005540': 11.592551718391812,
 'nm0005541': 4.637332936335282,
 'nm0005561': 0.015898500000000003,
 'nm0005562': 1.2205974047619048,
 'nm0005563': 0.7241407958333334,
 'nm0005616': 0.11602498,
 'nm0005618': 0.04381642857142857,
 'nm0005628': 0.37364415384615385,
 'nm0005647': 1.0507803214285714,
 'nm0005759': 0.4135548666666667,
 'nm0006153': 4.782608695652174,
 'nm0006388': 3.4,
 'nm0006445': 0.8971264999999999,
 'nm0006452': 3.333333333333333,
 'nm0006476': 0.4703058469135802,
 'nm0006487': 0.600296525,
 'nm0006512': 1.034877125,
 'nm0006516': 1.6920965345725159,
 'nm0006534': 1.1087286070512818,
 'nm0006554': 0.40195946666666665,
 'nm0006659': 0.623791,
 'nm0006782': 0.4127829270127916,
 'nm0006809': 0.3649157142857143,
 'nm0006841': 0.02055632258064516,
 'nm0006846': 2.29389585,
 'nm0006854': 0.6805645314789884,
 'nm0006872': 1.0643016,
 'nm0006894': 0.4080930823529412,
 'nm0006902': 1.4388150769230768,
 'nm0006904': 1.5814854156566165,
 'nm0006916': 2.049671645238095,
 'nm0006959': 0.00853625,
 'nm0006960': 2.4893827162393163,
 'nm0006969': 2.877123849042146,
 'nm0006997': 0.2586065769230769,
 'nm0007029': 1.6675259166666667,
 'nm0007045': 0.18817915,
 'nm0007079': 2.089549360819328,
 'nm0007082': 0.7027762,
 'nm0007091': 3.5973023611111112,
 'nm0007128': 1.562414,
 'nm0007136': 0.3860561388888889,
 'nm0007139': 0.2948547142857143,
 'nm0007140': 1.837385542074128,
 'nm0007158': 9.71466753623188,
 'nm0007181': 0.37552226242236025,
 'nm0007182': 1.0553227477477478,
 'nm0007193': 1.28748068,
 'nm0007233': 1.065749888888889,
 'nm0007344': 0.5356477,
 'nm0007439': 0.8534126666666667,
 'nm0007464': 3.8842542,
 'nm0008053': 0.8659372571428572,
 'nm0008055': 3.76,
 'nm0008673': 0.6750959235294117,
 'nm0008743': 1.4908805723277399,
 'nm0008935': 2.59628625,
 'nm0008953': 0.22211885,
 'nm0009025': 5.829669666666668,
 'nm0009029': 0.3378720909090909,
 'nm0009159': 1.0760677142857142,
 'nm0009177': 1.02360476,
 'nm0009190': 1.6187798723997493,
 'nm0009248': 2.7000595666666665,
 'nm0009948': 0.7044971428571428,
 'nm0010004': 1.412515185042735,
 'nm0010338': 5.8614846,
 'nm0010434': 0.6308347394540943,
 'nm0010930': 1.1337580444444444,
 'nm0011254': 2.70029936,
 'nm0011343': 1.3988399863527807,
 'nm0011470': 2.4889953275180368,
 'nm0011623': 2.5171921316489363,
 'nm0011897': 0.5027496470588235,
 'nm0011950': 2.394669207142857,
 'nm0012137': 3.1597180247863244,
 'nm0012258': 0.4852331875,
 'nm0013234': 0.85028192,
 'nm0013996': 3.62556352,
 'nm0014960': 1.7714832340363775,
 'nm0015190': 0.66620896,
 'nm0015287': 0.03524873333333333,
 'nm0015328': 5.327913428571429,
 'nm0015340': 1.34450205,
 'nm0015359': 0.05651040816326531,
 'nm0017301': 3.3335535333333333,
 'nm0017305': 1.51263105,
 'nm0017447': 4.136653411764706,
 'nm0017833': 8.944444444444445,
 'nm0018504': 0.5755501666666667,
 'nm0018630': 2.1161504,
 'nm0018735': 1.4940974838402594,
 'nm0018740': 5.0,
 'nm0018824': 0.96338312,
 'nm0019247': 0.6702821904761904,
 'nm0019341': 0.0060986,
 'nm0020150': 0.8374385263157895,
 'nm0020491': 1.64712265,
 'nm0020728': 0.4753941826923076,
 'nm0020820': 1.9690634166666665,
 'nm0020901': 1.8045224999999998,
 'nm0021209': 0.8417304203296703,
 'nm0021249': 0.9471020355882352,
 'nm0022347': 0.7989189189189191,
 'nm0022709': 0.8170996741573033,
 'nm0022768': 0.6087217818181818,
 'nm0022835': 0.0050921333333333344,
 'nm0022913': 1.4570505714285715,
 'nm0023315': 7.562144316666667,
 'nm0023355': 0.37472549583333337,
 'nm0023395': 0.6619423333333333,
 'nm0024310': 0.1492552380952381,
 'nm0024622': 1.4373551142857144,
 'nm0024718': 0.06476814285714286,
 'nm0024856': 0.7574564033333333,
 'nm0024894': 0.9825587857142856,
 'nm0024912': 0.15387757009345795,
 'nm0024925': 0.4613524724789917,
 'nm0024948': 11.428571428571427,
 'nm0025007': 0.0315845,
 'nm0025435': 0.10186988,
 'nm0025978': 1.07525,
 'nm0026153': 2.927038623333333,
 'nm0026442': 1.0027541333333334,
 'nm0026755': 1.1953987404692086,
 'nm0026782': 4.3825872142857145,
 'nm0027173': 0.5252941529411764,
 'nm0027271': 0.7719757210494859,
 'nm0027355': 3.6571428571428566,
 'nm0027417': 0.021916775,
 'nm0027459': 0.8913636316666667,
 'nm0027465': 0.006641142857142857,
 'nm0027487': 0.12305554545454545,
 'nm0027501': 1.95909825,
 'nm0027572': 1.3453152666491113,
 'nm0028196': 3.3,
 'nm0028764': 0.277052252559727,
 'nm0029125': 0.8932053611111109,
 'nm0030253': 0.8472884166666667,
 'nm0030651': 3.6696760999999998,
 'nm0030663': 3.5261280540540536,
 'nm0030735': 0.7631530555555557,
 'nm0031078': 0.6881571333333334,
 'nm0031976': 2.6312652061138864,
 'nm0032227': 3.693218324814815,
 'nm0032928': 1.147919225,
 'nm0033054': 3.708245230769232,
 'nm0033153': 0.5217708021637427,
 'nm0033490': 0.1773836,
 'nm0033748': 0.510232,
 'nm0035043': 9.198628571428571,
 'nm0035106': 0.6,
 'nm0035199': 0.07366349999999999,
 'nm0035830': 0.4641418,
 'nm0035905': 1.5374769485795454,
 'nm0036349': 0.15719540476190474,
 'nm0036496': 1.3180442222222222,
 'nm0036714': 0.5026160109243698,
 'nm0036962': 0.1282689,
 'nm0037247': 1.3073826000000002,
 'nm0037708': 1.013015633333333,
 'nm0038432': 1.829894931723164,
 'nm0038875': 0.006882100840336134,
 'nm0039074': 0.2188499142857143,
 'nm0039141': 1.2915795,
 'nm0039185': 3.770021238095238,
 'nm0039192': 4.678876,
 'nm0039583': 0.9578842068965516,
 'nm0040022': 1.49282692,
 'nm0040328': 1.396867875,
 'nm0040404': 0.3372134468085106,
 'nm0041311': 0.0245359,
 'nm0041315': 0.17186716666666665,
 'nm0041474': 0.18683737692307686,
 'nm0041652': 0.1302488,
 'nm0041864': 0.955806566153846,
 'nm0042006': 2.15216,
 'nm0042885': 0.1618799230769231,
 'nm0043214': 0.1188131111111111,
 'nm0043334': 0.880194,
 'nm0043335': 0.044430625,
 'nm0043423': 0.8374385263157895,
 'nm0043480': 0.8243588875,
 'nm0043742': 1.7863026386462275,
 'nm0044584': 0.9549428571428572,
 'nm0044803': 1.8380225,
 'nm0044810': 1.2774666000000001,
 'nm0045209': 3.5653798819047617,
 'nm0045301': 6.693810038333334,

In [4]:
filename = '../../Sample_Data/Processed/movie.crews.combined.tsv'
movie_data = pd.read_csv(filename, sep='\t')
movie_data.head()

,tconst,directors,writers,persons,ROI_domestic
0,tt0011549,nm0587754,"nm0137414,nm0806061","nm0587754,nm0137414,nm0806061",30.000000
1,tt0016641,"nm0629243,nm0102643,nm0127511,nm0169905,nm0002271","nm0908753,nm0558923,nm0933133,nm0385012,nm0129721","nm0629243,nm0102643,nm0127511,nm0169905,nm0002...",2.307692
2,tt0019729,nm0064600,"nm0332539,nm0396876,nm0322299,nm0049898","nm0064600,nm0332539,nm0396876,nm0322299,nm0049898",7.387863
3,tt0024034,nm0045800,"nm0416861,nm0786827,nm0740622,nm0093456","nm0045800,nm0416861,nm0786827,nm0740622,nm0093456",3.275626
4,tt0024548,nm0792514,"nm0922213,nm0857710,nm0109148","nm0792514,nm0922213,nm0857710,nm0109148",10.000000

In [5]:
movie_data['directors'] = movie_data['directors'].str.split(',')
movie_data['writers'] = movie_data['writers'].str.split(',')
movie_data.head()

,tconst,directors,writers,persons,ROI_domestic
0,tt0011549,[nm0587754],"[nm0137414, nm0806061]","nm0587754,nm0137414,nm0806061",30.000000
1,tt0016641,"[nm0629243, nm0102643, nm0127511, nm0169905, n...","[nm0908753, nm0558923, nm0933133, nm0385012, n...","nm0629243,nm0102643,nm0127511,nm0169905,nm0002...",2.307692
2,tt0019729,[nm0064600],"[nm0332539, nm0396876, nm0322299, nm0049898]","nm0064600,nm0332539,nm0396876,nm0322299,nm0049898",7.387863
3,tt0024034,[nm0045800],"[nm0416861, nm0786827, nm0740622, nm0093456]","nm0045800,nm0416861,nm0786827,nm0740622,nm0093456",3.275626
4,tt0024548,[nm0792514],"[nm0922213, nm0857710, nm0109148]","nm0792514,nm0922213,nm0857710,nm0109148",10.000000

In [6]:
def set_value(row, assigned_value):
    average_roi_list = []
    for person in row:
        if person in assigned_value:
            average_roi_list.append(assigned_value[person])
        else:
            average_roi_list.append(0)
    return np.mean(average_roi_list)

In [7]:
movie_data['director_mean_roi'] = movie_data['directors'].apply(set_value, args =(crew_roi_dict, ))
movie_data.head()

,tconst,directors,writers,persons,ROI_domestic,director_mean_roi
0,tt0011549,[nm0587754],"[nm0137414, nm0806061]","nm0587754,nm0137414,nm0806061",30.000000,30.000000
1,tt0016641,"[nm0629243, nm0102643, nm0127511, nm0169905, n...","[nm0908753, nm0558923, nm0933133, nm0385012, n...","nm0629243,nm0102643,nm0127511,nm0169905,nm0002...",2.307692,2.307692
2,tt0019729,[nm0064600],"[nm0332539, nm0396876, nm0322299, nm0049898]","nm0064600,nm0332539,nm0396876,nm0322299,nm0049898",7.387863,7.387863
3,tt0024034,[nm0045800],"[nm0416861, nm0786827, nm0740622, nm0093456]","nm0045800,nm0416861,nm0786827,nm0740622,nm0093456",3.275626,3.275626
4,tt0024548,[nm0792514],"[nm0922213, nm0857710, nm0109148]","nm0792514,nm0922213,nm0857710,nm0109148",10.000000,10.000000

In [8]:
movie_data['writer_mean_roi'] = movie_data['writers'].apply(set_value, args =(crew_roi_dict, ))
movie_data.head()

,tconst,directors,writers,persons,ROI_domestic,director_mean_roi,writer_mean_roi
0,tt0011549,[nm0587754],"[nm0137414, nm0806061]","nm0587754,nm0137414,nm0806061",30.000000,30.000000,30.000000
1,tt0016641,"[nm0629243, nm0102643, nm0127511, nm0169905, n...","[nm0908753, nm0558923, nm0933133, nm0385012, n...","nm0629243,nm0102643,nm0127511,nm0169905,nm0002...",2.307692,2.307692,2.563590
2,tt0019729,[nm0064600],"[nm0332539, nm0396876, nm0322299, nm0049898]","nm0064600,nm0332539,nm0396876,nm0322299,nm0049898",7.387863,7.387863,7.387863
3,tt0024034,[nm0045800],"[nm0416861, nm0786827, nm0740622, nm0093456]","nm0045800,nm0416861,nm0786827,nm0740622,nm0093456",3.275626,3.275626,3.275626
4,tt0024548,[nm0792514],"[nm0922213, nm0857710, nm0109148]","nm0792514,nm0922213,nm0857710,nm0109148",10.000000,10.000000,10.000000

In [9]:
# # movie_data['historic_mean_roi'] = np.where((movie_data['ROI_domestic']==movie_data['director_mean_roi']), \
#                                            np.where((movie_data['ROI_domestic']==movie_data['writer_mean_roi']), 0, movie_data['writer_mean_roi']), \
#                                            np.where((movie_data['ROI_domestic']==movie_data['writer_mean_roi']), movie_data['director_mean_roi'], (movie_data['director_mean_roi']+movie_data['writer_mean_roi'])/2))
movie_data['historic_mean_roi'] = np.where((movie_data['ROI_domestic']==movie_data['director_mean_roi']), \
                                           0, \
                                           np.where((movie_data['ROI_domestic']==movie_data['writer_mean_roi']), 0, (movie_data['director_mean_roi']+movie_data['writer_mean_roi'])/2))
movie_data.head()

,tconst,directors,writers,persons,ROI_domestic,director_mean_roi,writer_mean_roi,historic_mean_roi
0,tt0011549,[nm0587754],"[nm0137414, nm0806061]","nm0587754,nm0137414,nm0806061",30.000000,30.000000,30.000000,0.0
1,tt0016641,"[nm0629243, nm0102643, nm0127511, nm0169905, n...","[nm0908753, nm0558923, nm0933133, nm0385012, n...","nm0629243,nm0102643,nm0127511,nm0169905,nm0002...",2.307692,2.307692,2.563590,0.0
2,tt0019729,[nm0064600],"[nm0332539, nm0396876, nm0322299, nm0049898]","nm0064600,nm0332539,nm0396876,nm0322299,nm0049898",7.387863,7.387863,7.387863,0.0
3,tt0024034,[nm0045800],"[nm0416861, nm0786827, nm0740622, nm0093456]","nm0045800,nm0416861,nm0786827,nm0740622,nm0093456",3.275626,3.275626,3.275626,0.0
4,tt0024548,[nm0792514],"[nm0922213, nm0857710, nm0109148]","nm0792514,nm0922213,nm0857710,nm0109148",10.000000,10.000000,10.000000,0.0

In [10]:
movie_data.drop(movie_data[movie_data['historic_mean_roi']==0].index,inplace=True)

In [11]:
len(movie_data)

2444

## Combining with genre

In [12]:
filename = '../../Sample_Data/Processed/roi.genresplitted.tsv'
df = pd.read_csv(filename, sep='\t')
df.head()

,tconst,name,date,prod_budget,domestic_gross,worldwide_gross,isAdult,startYear,runtimeMinutes,Action,...,Adult,War,Biography,Western,Sport,Music,News,Film-Noir,ROI_domestic,ROI_worldwide
0,tt4154796,Avengers: Endgame,2019,400000000,858373000,2797800564,0,2019,181,1,...,0,0,0,0,0,0,0,0,2.145933,6.994501
1,tt1298650,Pirates of the Caribbean: On Stranger Tides,2011,379000000,241063875,1045663875,0,2011,136,1,...,0,0,0,0,0,0,0,0,0.636052,2.759008
2,tt2395427,Avengers: Age of Ultron,2015,365000000,459005868,1403013963,0,2015,141,1,...,0,0,0,0,0,0,0,0,1.257550,3.843874
3,tt4154756,Avengers: Infinity War,2018,300000000,678815482,2048359754,0,2018,149,1,...,0,0,0,0,0,0,0,0,2.262718,6.827866
4,tt0974015,Justice League,2017,300000000,229024295,655945209,0,2017,120,1,...,0,0,0,0,0,0,0,0,0.763414,2.186484

In [13]:
df.drop(columns=['name', 'date', 'ROI_domestic', 'ROI_worldwide', 'prod_budget', 'domestic_gross', 'worldwide_gross', 'startYear', 'runtimeMinutes'], inplace=True)
movie_data.drop(columns=['directors', 'writers', 'persons', 'historic_mean_roi'], inplace=True)
movie_data = movie_data.join(df.set_index('tconst'), on='tconst', how='left')
movie_data.head()

,tconst,ROI_domestic,director_mean_roi,writer_mean_roi,isAdult,Action,Adventure,Drama,Fantasy,Sci-Fi,...,Musical,Documentary,Adult,War,Biography,Western,Sport,Music,News,Film-Noir
7,tt0036628,1.482423,2.554624,1.912688,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
8,tt0037884,8.800000,6.275000,7.958333,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
10,tt0038499,3.400000,3.314286,3.586458,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
11,tt0038589,1.398840,2.554624,1.457637,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
14,tt0041866,3.375000,2.916093,3.222031,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [14]:
len(movie_data)

2478

In [15]:
movie_data.drop_duplicates()
len(movie_data)

2478

In [33]:
movie_data.to_csv('../../Sample_Data/For_Modeling/movie.persons.roi.genres.tsv', sep='\t', index=False)

## Classification

In [16]:
X = movie_data.iloc[:, 2:].values.tolist()
y = movie_data['ROI_domestic'].values.tolist()

In [17]:
def test_model(X_train, X_test, y_train, y_test, clf, cv_parameter=None):
    best_param = ''
    if cv_parameter != None:
        grid = GridSearchCV(clf, cv_parameter, scoring='recall')
        grid.fit(X_train, y_train)
        best_param = grid.best_params_
        clf = grid.best_estimator_
    else:
        clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    print('===========================')
    print('The metric of {} with {} is:'.format(clf.__class__.__name__, best_param))
    precision, recall, fscore, w = precision_recall_fscore_support(y_test, y_pred, average='binary')
    print(precision, recall, fscore)
    print('The accuracy of {} is:'.format(clf.__class__.__name__))
    print(accuracy_score(y_test, y_pred))
    print('===========================')
    return {'recall': recall, 'precision':precision, 'f1_score': fscore}, clf

In [18]:
class Model:
    
    def __init__(self, model, cv_grid):
        self.model = model
        self.cv_grid = cv_grid

def test_threshold(X, y, threshold=2):
    y = [int(i<threshold) for i in y]
    print('There are {}% of movies in the dataset with ROI < {}'.format(np.sum(y)/len(y)*100, threshold))
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    
    max_fscore = 0
    best_scores = None
    best_clf = None
    
    clfs = [Model(svm.SVC(), {'kernel': ['linear', 'rbf']}),
            Model(LogisticRegression(), None),
            Model(RandomForestClassifier(), {"min_samples_split":[i*10 for i in range(6,11,1)]})]
    
    for clf in clfs:
        scores, test_clf = test_model(X_train, X_test, y_train, y_test, clf.model, clf.cv_grid)
        if scores['f1_score'] > max_fscore:
            max_fscore = scores['f1_score']
            best_scores = scores
            best_clf = test_clf
    return {'clf': best_clf, 'scores': best_scores}

In [19]:
X = movie_data.iloc[:, 2:].values.tolist()
y = movie_data['ROI_domestic'].values.tolist()
clf = {}

In [20]:
clf[1.25] = test_threshold(X, y, 1.25)

There are 50.48426150121066% of movies in the dataset with ROI < 1.25
===========================
The metric of SVC with {'kernel': 'linear'} is:
0.6584615384615384 0.8392156862745098 0.7379310344827585
The accuracy of SVC is:
0.6935483870967742
===========================
===========================
The metric of LogisticRegression with  is:
0.6523076923076923 0.8313725490196079 0.7310344827586207
The accuracy of LogisticRegression is:
0.6854838709677419
===========================

C:\Users\huiwe\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

===========================
The metric of RandomForestClassifier with {'min_samples_split': 60} is:
0.7622950819672131 0.7294117647058823 0.7454909819639278
The accuracy of RandomForestClassifier is:
0.7439516129032258
===========================

In [21]:
clf[1.5] = test_threshold(X, y, 1.5)

There are 57.546408393866024% of movies in the dataset with ROI < 1.5
===========================
The metric of SVC with {'kernel': 'linear'} is:
0.7026315789473684 0.9206896551724137 0.7970149253731343
The accuracy of SVC is:
0.7258064516129032
===========================
===========================
The metric of LogisticRegression with  is:
0.6953125 0.9206896551724137 0.7922848664688428
The accuracy of LogisticRegression is:
0.717741935483871
===========================

C:\Users\huiwe\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

===========================
The metric of RandomForestClassifier with {'min_samples_split': 60} is:
0.8068965517241379 0.8068965517241379 0.8068965517241379
The accuracy of RandomForestClassifier is:
0.7741935483870968
===========================

In [22]:
clf[1.75] = test_threshold(X, y, 1.75)

There are 63.19612590799032% of movies in the dataset with ROI < 1.75
===========================
The metric of SVC with {'kernel': 'linear'} is:
0.743142144638404 0.9371069182389937 0.8289290681502086
The accuracy of SVC is:
0.7520161290322581
===========================
===========================
The metric of LogisticRegression with  is:
0.7274939172749392 0.940251572327044 0.8203017832647462
The accuracy of LogisticRegression is:
0.7358870967741935
===========================
===========================
The metric of RandomForestClassifier with {'min_samples_split': 60} is:
0.8237082066869301 0.8522012578616353 0.8377125193199383
The accuracy of RandomForestClassifier is:
0.7883064516129032
===========================

In [23]:
clf[2] = test_threshold(X, y, 2)

There are 68.48264729620662% of movies in the dataset with ROI < 2
===========================
The metric of SVC with {'kernel': 'linear'} is:
0.7780373831775701 0.9568965517241379 0.8582474226804124
The accuracy of SVC is:
0.7782258064516129
===========================
===========================
The metric of LogisticRegression with  is:
0.7726218097447796 0.9568965517241379 0.8549422336328625
The accuracy of LogisticRegression is:
0.7721774193548387
===========================
===========================
The metric of RandomForestClassifier with {'min_samples_split': 90} is:
0.8602739726027397 0.9022988505747126 0.8807854137447404
The accuracy of RandomForestClassifier is:
0.8286290322580645
===========================

In [24]:
clf[2.25] = test_threshold(X, y, 2.25)

There are 72.88135593220339% of movies in the dataset with ROI < 2.25
===========================
The metric of SVC with {'kernel': 'linear'} is:
0.7825112107623319 0.9614325068870524 0.8627935723114958
The accuracy of SVC is:
0.7762096774193549
===========================
===========================
The metric of LogisticRegression with  is:
0.7878103837471784 0.9614325068870524 0.8660049627791564
The accuracy of LogisticRegression is:
0.782258064516129
===========================

C:\Users\huiwe\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

===========================
The metric of RandomForestClassifier with {'min_samples_split': 80} is:
0.8608247422680413 0.9201101928374655 0.88948069241012
The accuracy of RandomForestClassifier is:
0.8326612903225806
===========================

In [32]:
pickle.dump([movie_data.columns[2:], clf[2]], open("../../Sample_Data/For_Modeling/clf_model", "wb"))

In [31]:
genres = movie_data.columns[2:][2:]
with open("../../Sample_Data/For_Modeling/genres_list_html.tsv", 'w') as f:
    for genre in genres:
        f.write('{}\n'.format(genre))

## Regression

In [26]:
X = movie_data.loc[:, ['director_mean_roi', 'writer_mean_roi']].values.tolist()
y = movie_data['ROI_domestic'].values.tolist()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [27]:
reg = LinearRegression().fit(X_train, y_train)
print('{}\'s score is {}'.format(reg.__class__.__name__, reg.score(X_train, y_train)))
print('{}\'s coefficient is {}'.format(reg.__class__.__name__, reg.coef_))

LinearRegression's score is 0.4924121449577028
LinearRegression's coefficient is [0.26686152 1.35772245]

In [28]:
cv_parameter = {'C':[1, 5, 10, 50], 'kernel': ['linear', 'poly', 'rbf']}
reg = SVR()
grid = GridSearchCV(reg, cv_parameter)
grid.fit(X_train, y_train)
print(grid.best_params_)
model = grid.best_estimator_
print('{}\'s score is {}'.format(model.__class__.__name__, model.score(X_train, y_train)))
print('{}\'s coefficient is {}'.format(model.__class__.__name__, model.coef_))

{'C': 1, 'kernel': 'linear'}
SVR's score is 0.46314905479747037
SVR's coefficient is [[-0.01921997  1.22721272]]

In [29]:
cv_parameter = {"min_samples_split":[i*10 for i in range(7,10)]}
reg = RandomForestRegressor()
grid = GridSearchCV(reg, cv_parameter)
grid.fit(X_train, y_train)
print(grid.best_params_)
model = grid.best_estimator_
print('{}\'s score is {}'.format(model.__class__.__name__, model.score(X_train, y_train)))
try:
    print('{}\'s coefficient is {}'.format(model.__class__.__name__, model.coef_))
except:
    print('{} does not have coefficients'.format(model.__class__.__name__))

{'min_samples_split': 70}
RandomForestRegressor's score is 0.4928558242440321
RandomForestRegressor does not have coefficients