In [1]:
import pandas as pd
import numpy as np

In [2]:
directory = '../../Sample_Data/Raw'
filename = ['name.basics.tsv', 'title.akas.tsv', 'title.basics.tsv', 
            'title.crew.tsv', 'title.principals.tsv', 'title.ratings.tsv']
real_dir = directory + '/' + filename[1] + '/' + 'data.tsv'
df = pd.read_csv(real_dir, sep='\t')

C:\Users\huiwe\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita,DE,\N,\N,literal title,0
1,tt0000001,2,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
2,tt0000001,3,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
3,tt0000001,4,Карменсита,RU,\N,imdbDisplay,\N,0
4,tt0000001,5,Carmencita,US,\N,\N,\N,0

In [4]:
df.isOriginalTitle.unique()

array([0, 1, '0', '1', '\\N'], dtype=object)

In [5]:
df.language.unique()

array(['\\N', 'ja', 'sv', 'en', 'tr', 'es', 'sr', 'cs', 'fa', 'fr', 'bg',
       'ca', 'nl', 'qbn', 'pt', 'ru', 'qbp', 'ar', 'cmn', 'rn', 'bs',
       'de', 'hi', 'yi', 'qbo', 'uk', 'ka', 'hr', 'sl', 'he', 'tg', 'sk',
       'kk', 'da', 'el', 'fi', 'it', 'gsw', 'yue', 'az', 'ms', 'pl', 'mr',
       'uz', 'gl', 'th', 'ta', 'eu', 'be', 'af', 'la', 'hy', 'ur', 'bn',
       'te', 'lt', 'mk', 'et', 'lv', 'gd', 'tl', 'cy', 'id', 'qal', 'gu',
       'ml', 'ro', 'hu', 'pa', 'kn', 'wo', 'no', 'is', 'sq', 'zh', 'ps',
       'nqo', 'sd', 'ga', 'xh', 'mi', 'zu', 'ku', 'rm', 'prs', 'ky', 'vi',
       'fro', 'ko', 'haw', 'mn', 'lo', 'my', 'am', 'qac', 'ne', 'myv',
       'br', 'iu', 'st', 'tn', 'cr'], dtype=object)

In [6]:
df.region.unique()

array(['DE', 'HU', 'GR', 'RU', 'US', '\\N', 'JP', 'FR', 'RO', 'GB', 'PT',
       'ES', 'UY', 'IT', 'FI', 'RS', 'PL', 'AR', 'BR', 'XWW', 'DK', 'TR',
       'XEU', 'SK', 'CZ', 'SE', 'MX', 'XYU', 'AT', 'VE', 'CSHH', 'SI',
       'AU', 'CA', 'NL', 'LT', 'NO', 'IR', 'UA', 'CO', 'BG', 'TW', 'BE',
       'IN', 'DZ', 'CH', 'NZ', 'BF', 'XWG', 'VN', 'XSA', 'SUHH', 'EE',
       'IS', 'HR', 'DDDE', 'XKO', 'CL', 'EG', 'HK', 'BY', 'GE', 'BA',
       'PE', 'PA', 'CN', 'TJ', 'XSI', 'YUCS', 'IE', 'IL', 'CU', 'AL',
       'BO', 'ZA', 'KR', 'MY', 'SG', 'BUMM', 'XPI', 'BJ', 'PR', 'CM',
       'AZ', 'TH', 'DO', 'LV', 'EC', 'MA', 'GL', 'LI', 'LU', 'PH', 'ID',
       'PY', 'MZ', 'BM', 'JM', 'MD', 'CR', 'GT', 'LB', 'IQ', 'TM', 'MK',
       'TN', 'NG', 'HT', 'SN', 'GH', 'CI', 'JO', 'KG', 'PK', 'LK', 'NE',
       'GN', 'VDVN', 'TD', 'SO', 'SD', 'MC', 'CG', 'TT', 'GA', 'BS', 'LY',
       'SY', 'AO', 'KH', 'SV', 'MR', 'AF', 'MG', 'ML', 'GY', 'CY', 'ET',
       'GU', 'XAS', 'UZ', 'SR', 'MT', 'AM', 'TG', 'PG', 'MU', 'BI', 'CF',
       'NI', 'ZW', 'BD', 'ZM', 'GW', 'DJ', 'KP', 'RW', 'TZ', 'KZ', 'GI',
       'LA', 'SC', 'NP', 'GP', 'MN', 'SM', 'CD', 'CSXX', 'TO', 'AW', 'BT',
       'LS', 'HN', 'KE', 'PS', 'MQ', 'KW', 'AD', 'SA', 'ZRCD', 'AE', 'ER',
       nan, 'IM', 'XKV', 'BH', 'BB', 'BZ', 'CV', 'UG', 'AG', 'NU', 'OM',
       'QA', 'BW', 'SL', 'MO', 'MM', 'YE', 'GQ', 'FJ', 'MV', 'ME', 'RE',
       'KY', 'FO', 'NC', 'SZ', 'EH', 'PF', 'VG', 'LR', 'LC', 'MW', 'BN',
       'VA', 'MH', 'VI', 'VC', 'DM', 'AN', 'XNA', 'GF', 'GM', 'VU', 'SH',
       'MS', 'TV', 'WS', 'XAU', 'CK', 'TL', 'KM', 'AQ', 'PW', 'NR', 'GD',
       'KN', 'AS', 'ST', 'SB', 'JE', 'MP', 'KI', 'WF', 'AI'], dtype=object)

In [7]:
real_dir = directory + '/' + filename[2] + '/' + 'data.tsv'
df = pd.read_csv(real_dir, sep='\t')
df.head()

C:\Users\huiwe\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [12]:
df.titleType.unique()

array(['short', 'movie', 'tvMovie', 'tvSeries', 'tvEpisode', 'tvShort',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame'], dtype=object)

In [8]:
df.isAdult.unique()

array([   0,    1, 2019, 1981, 2020, 2004, 2014, 2015, 1994, 2005],
      dtype=int64)

In [9]:
df.startYear.describe()

count     6675105
unique        252
top            \N
freq       466988
Name: startYear, dtype: object

In [10]:
df.endYear.describe()

count     6675105
unique         94
top            \N
freq      6616865
Name: endYear, dtype: object

In [11]:
df.runtimeMinutes.describe()

count     6675105
unique        814
top            \N
freq      4734142
Name: runtimeMinutes, dtype: object

In [13]:
real_dir = directory + '/' + filename[3] + '/' + 'data.tsv'
df = pd.read_csv(real_dir, sep='\t')
df.head()

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N

In [14]:
real_dir = directory + '/' + filename[4] + '/' + 'data.tsv'
df = pd.read_csv(real_dir, sep='\t')
df.head()

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N

In [18]:
df.category.unique()
print(len(df.category.unique()))

12

In [16]:
df.job.unique()

array(['\\N', 'director of photography', 'producer', ...,
       'inspired by characters created by',
       "based upon 'Star Trek Enterprise' created by",
       'short story "Your Iron Lady"'], dtype=object)

In [17]:
df.characters.unique()

array(['["Self"]', '\\N', '["Blacksmith"]', ..., '["Tomeka"]',
       '["Alasia"]', '["Judah Harris"]'], dtype=object)

In [19]:
real_dir = directory + '/' + filename[5] + '/' + 'data.tsv'
df = pd.read_csv(real_dir, sep='\t')
df.head()

      tconst  averageRating  numVotes
0  tt0000001            5.6      1592
1  tt0000002            6.1       194
2  tt0000003            6.5      1267
3  tt0000004            6.2       120
4  tt0000005            6.1      2028

In [20]:
df.averageRating.describe()

count    1.019981e+06
mean     6.889222e+00
std      1.397920e+00
min      1.000000e+00
25%      6.100000e+00
50%      7.100000e+00
75%      7.900000e+00
max      1.000000e+01
Name: averageRating, dtype: float64

In [21]:
df.numVotes.describe()

count    1.019981e+06
mean     9.633769e+02
std      1.583178e+04
min      5.000000e+00
25%      9.000000e+00
50%      2.000000e+01
75%      7.800000e+01
max      2.206002e+06
Name: numVotes, dtype: float64

In [22]:
real_dir = directory + '/' + filename[0] + '/' + 'data.tsv'
df = pd.read_csv(real_dir, sep='\t')
df.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0072308,tt0053137,tt0050419,tt0043044"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0117057,tt0071877,tt0037382,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,producer","tt0054452,tt0059956,tt0057345,tt0049189"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0072562,tt0077975,tt0078723,tt0080455"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0083922,tt0050986,tt0050976,tt0069467"