In [1]:
import pandas as pd

In [2]:
filename = '../../Sample_Data/Processed/roi.genresplitted.tsv'
df = pd.read_csv(filename, sep='\t')
df.head()

,tconst,name,date,prod_budget,domestic_gross,worldwide_gross,isAdult,startYear,runtimeMinutes,Action,...,Adult,War,Biography,Western,Sport,Music,News,Film-Noir,ROI_domestic,ROI_worldwide
0,tt4154796,Avengers: Endgame,2019,400000000,858373000,2797800564,0,2019,181,1,...,0,0,0,0,0,0,0,0,2.145933,6.994501
1,tt1298650,Pirates of the Caribbean: On Stranger Tides,2011,379000000,241063875,1045663875,0,2011,136,1,...,0,0,0,0,0,0,0,0,0.636052,2.759008
2,tt2395427,Avengers: Age of Ultron,2015,365000000,459005868,1403013963,0,2015,141,1,...,0,0,0,0,0,0,0,0,1.257550,3.843874
3,tt4154756,Avengers: Infinity War,2018,300000000,678815482,2048359754,0,2018,149,1,...,0,0,0,0,0,0,0,0,2.262718,6.827866
4,tt0974015,Justice League,2017,300000000,229024295,655945209,0,2017,120,1,...,0,0,0,0,0,0,0,0,0.763414,2.186484

In [3]:
df.columns

Index(['tconst', 'name', 'date', 'prod_budget', 'domestic_gross',
       'worldwide_gross', 'isAdult', 'startYear', 'runtimeMinutes', 'Action',
       'Adventure', 'Drama', 'Fantasy', 'Sci-Fi', 'Thriller', 'Animation',
       'Comedy', 'Family', 'Crime', 'Horror', 'History', 'Romance', 'Mystery',
       'Musical', 'Documentary', 'Adult', 'War', 'Biography', 'Western',
       'Sport', 'Music', 'News', 'Film-Noir', 'ROI_domestic', 'ROI_worldwide'],
      dtype='object')

In [4]:
df.startYear.describe()

count     4705
unique      94
top         \N
freq       444
Name: startYear, dtype: object

In [6]:
# Action
print(df[df['Action'] == 1].ROI_domestic.describe())
print()
print(df[df['Action'] == 1].ROI_worldwide.describe())

count    1042.000000
mean        2.184911
std        10.903993
min         0.000107
25%         0.464021
50%         0.922344
75%         1.747889
max       291.560000
Name: ROI_domestic, dtype: float64

count    1042.000000
mean        4.542886
std        20.744525
min         0.000138
25%         0.965096
50%         2.082652
75%         3.651764
max       498.750000
Name: ROI_worldwide, dtype: float64

In [7]:
# Adventure
print(df[df['Adventure'] == 1].ROI_domestic.describe())
print()
print(df[df['Adventure'] == 1].ROI_worldwide.describe())

count    778.000000
mean       1.879952
std        3.504547
min        0.000120
25%        0.555019
50%        1.061606
75%        2.010632
max       61.001764
Name: ROI_domestic, dtype: float64

count    778.000000
mean       4.388799
std       18.705068
min        0.002616
25%        1.157545
50%        2.477994
75%        4.387067
max      498.750000
Name: ROI_worldwide, dtype: float64

In [8]:
# Drama
print(df[df['Drama'] == 1].ROI_domestic.describe())
print()
print(df[df['Drama'] == 1].ROI_worldwide.describe())

count    2221.000000
mean        2.628465
std         9.744623
min         0.000031
25%         0.323804
50%         0.944144
75%         2.200000
max       208.530120
Name: ROI_domestic, dtype: float64

count    2221.000000
mean        4.154397
std        13.836053
min         0.000479
25%         0.588744
50%         1.630401
75%         3.728945
max       342.058585
Name: ROI_worldwide, dtype: float64

In [9]:
# Fantasy
print(df[df['Fantasy'] == 1].ROI_domestic.describe())
print()
print(df[df['Fantasy'] == 1].ROI_worldwide.describe())

count    314.000000
mean       2.781962
std       10.189570
min        0.000078
25%        0.439184
50%        0.995549
75%        1.910864
max      124.277880
Name: ROI_domestic, dtype: float64

count    314.000000
mean       4.081339
std       10.428733
min        0.000479
25%        0.992231
50%        2.039189
75%        3.772293
max      124.277880
Name: ROI_worldwide, dtype: float64

In [10]:
# Sci-Fi
print(df[df['Sci-Fi'] == 1].ROI_domestic.describe())
print()
print(df[df['Sci-Fi'] == 1].ROI_worldwide.describe())

count    343.000000
mean       2.706897
std       12.809777
min        0.001056
25%        0.494558
50%        1.002681
75%        2.039801
max      227.644100
Name: ROI_domestic, dtype: float64

count    343.000000
mean       6.155964
std       35.126504
min        0.001056
25%        0.966423
50%        2.283249
75%        4.380317
max      498.750000
Name: ROI_worldwide, dtype: float64

In [11]:
# Thriller
print(df[df['Thriller'] == 1].ROI_domestic.describe())
print()
print(df[df['Thriller'] == 1].ROI_worldwide.describe())

count    652.000000
mean       3.738861
std       17.065817
min        0.000138
25%        0.491107
50%        1.078674
75%        2.190953
max      291.560000
Name: ROI_domestic, dtype: float64

count    652.000000
mean       6.335056
std       24.260155
min        0.000138
25%        0.943808
50%        2.215413
75%        4.253168
max      431.517853
Name: ROI_worldwide, dtype: float64

In [12]:
# Animation
print(df[df['Animation'] == 1].ROI_domestic.describe())
print()
print(df[df['Animation'] == 1].ROI_worldwide.describe())

count    228.000000
mean       2.042876
std        4.403720
min        0.000120
25%        0.629932
50%        1.132116
75%        2.173681
max       44.897959
Name: ROI_domestic, dtype: float64

count    228.000000
mean       4.424700
std        7.683810
min        0.021620
25%        1.459455
50%        2.782107
75%        5.125609
max       89.795918
Name: ROI_worldwide, dtype: float64

In [13]:
# Comedy
print(df[df['Comedy'] == 1].ROI_domestic.describe())
print()
print(df[df['Comedy'] == 1].ROI_worldwide.describe())

count    1617.000000
mean        4.052749
std        45.946215
min         0.000120
25%         0.540930
50%         1.196769
75%         2.350443
max      1800.000000
Name: ROI_domestic, dtype: float64

count    1617.000000
mean        5.509907
std        46.828762
min         0.000703
25%         0.846106
50%         2.029552
75%         4.084332
max      1800.000000
Name: ROI_worldwide, dtype: float64

In [14]:
# Family
print(df[df['Family'] == 1].ROI_domestic.describe())
print()
print(df[df['Family'] == 1].ROI_worldwide.describe())

count    285.000000
mean       2.123387
std        2.954738
min        0.001605
25%        0.549185
50%        1.277467
75%        2.260097
max       21.850000
Name: ROI_domestic, dtype: float64

count    285.000000
mean       3.315560
std        3.980869
min        0.001605
25%        0.991237
50%        2.135069
75%        4.114078
max       34.904181
Name: ROI_worldwide, dtype: float64

In [15]:
# Crime
print(df[df['Crime'] == 1].ROI_domestic.describe())
print()
print(df[df['Crime'] == 1].ROI_worldwide.describe())

count    650.000000
mean       2.098290
std       11.758701
min        0.000107
25%        0.317304
50%        0.862766
75%        1.845974
max      291.560000
Name: ROI_domestic, dtype: float64

count    650.000000
mean       3.107163
std       12.058849
min        0.000138
25%        0.577919
50%        1.514357
75%        3.041864
max      291.704000
Name: ROI_worldwide, dtype: float64

In [16]:
# Horror
print(df[df['Horror'] == 1].ROI_domestic.describe())
print()
print(df[df['Horror'] == 1].ROI_worldwide.describe())

count    461.000000
mean       6.547344
std       23.479199
min        0.000210
25%        0.606747
50%        1.543316
75%        3.526128
max      239.819578
Name: ROI_domestic, dtype: float64

count    461.000000
mean      11.051065
std       40.034645
min        0.001057
25%        1.113019
50%        2.709503
75%        6.066477
max      431.517853
Name: ROI_worldwide, dtype: float64

In [17]:
# History
print(df[df['History'] == 1].ROI_domestic.describe())
print()
print(df[df['History'] == 1].ROI_worldwide.describe())

count    148.000000
mean       1.769259
std        7.545992
min        0.000031
25%        0.235576
50%        0.636930
75%        1.565845
max       90.909091
Name: ROI_domestic, dtype: float64

count    148.000000
mean       3.190167
std       10.988900
min        0.004123
25%        0.410511
50%        1.300019
75%        2.791825
max      100.000000
Name: ROI_worldwide, dtype: float64

In [18]:
# Romance
print(df[df['Romance'] == 1].ROI_domestic.describe())
print()
print(df[df['Romance'] == 1].ROI_worldwide.describe())

count    650.000000
mean       2.976315
std       10.890074
min        0.000078
25%        0.443254
50%        1.086322
75%        2.400070
max      208.530120
Name: ROI_domestic, dtype: float64

count    650.000000
mean       4.628339
std       14.906545
min        0.000479
25%        0.733918
50%        1.911940
75%        4.016357
max      225.000000
Name: ROI_worldwide, dtype: float64

In [19]:
# Mystery
print(df[df['Mystery'] == 1].ROI_domestic.describe())
print()
print(df[df['Mystery'] == 1].ROI_worldwide.describe())

count    303.000000
mean       5.451792
std       23.958998
min        0.000480
25%        0.493276
50%        1.294360
75%        2.762189
max      239.819578
Name: ROI_domestic, dtype: float64

count    303.000000
mean       9.930208
std       42.885910
min        0.002040
25%        1.001798
50%        2.399740
75%        5.220870
max      431.517853
Name: ROI_worldwide, dtype: float64

In [20]:
# Musical
print(df[df['Musical'] == 1].ROI_domestic.describe())
print()
print(df[df['Musical'] == 1].ROI_worldwide.describe())

count    56.000000
mean      2.158396
std       2.570855
min       0.001218
25%       0.417388
50%       1.306646
75%       2.913506
max      10.316658
Name: ROI_domestic, dtype: float64

count    56.000000
mean      3.499232
std       4.357384
min       0.001218
25%       0.788269
50%       2.038058
75%       4.397503
max      21.935352
Name: ROI_worldwide, dtype: float64

In [21]:
# Documentary
print(df[df['Documentary'] == 1].ROI_domestic.describe())
print()
print(df[df['Documentary'] == 1].ROI_worldwide.describe())

count    271.000000
mean       3.710832
std       14.273455
min        0.000039
25%        0.311739
50%        0.876245
75%        2.387693
max      177.374892
Name: ROI_domestic, dtype: float64

count    271.000000
mean       6.488544
std       28.993935
min        0.001977
25%        0.662092
50%        1.670514
75%        3.800171
max      342.058585
Name: ROI_worldwide, dtype: float64

In [22]:
import numpy as np
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

In [28]:
X = df.iloc[:, 9:33]
y_domestic = df['ROI_domestic']

X2 = sm.add_constant(X)
est = sm.OLS(y_domestic, X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           ROI_domestic   R-squared:                       0.050
Model:                            OLS   Adj. R-squared:                  0.046
Method:                 Least Squares   F-statistic:                     10.37
Date:                Wed, 22 Apr 2020   Prob (F-statistic):           3.98e-38
Time:                        20:38:46   Log-Likelihood:                -22348.
No. Observations:                4705   AIC:                         4.475e+04
Df Residuals:                    4680   BIC:                         4.491e+04
Df Model:                          24
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const           1.4995      1.375      1.091      0.275      -1.195       4.194
Action          0.1945      1.196      0.163      0.871      -2.149       2.538
Adventure      -0.7063      1.340     -0.527      0.598      -3.332       1.920
Drama           0.1606      1.054      0.152      0.879      -1.906       2.227
Fantasy        -0.1301      1.723     -0.075      0.940      -3.508       3.248
Sci-Fi         -0.0045      1.708     -0.003      0.998      -3.353       3.344
Thriller        0.8246      1.351      0.610      0.542      -1.825       3.474
Animation      -0.5048      2.138     -0.236      0.813      -4.696       3.686
Comedy          2.3908      1.061      2.254      0.024       0.311       4.471
Family         -0.3561      1.810     -0.197      0.844      -3.904       3.192
Crime          -0.8213      1.285     -0.639      0.523      -3.340       1.697
Horror          4.0323      1.596      2.526      0.012       0.903       7.161
History        -0.2927      2.486     -0.118      0.906      -5.167       4.581
Romance         0.0160      1.306      0.012      0.990      -2.544       2.576
Mystery         2.0568      1.768      1.164      0.245      -1.408       5.522
Musical        -0.7520      3.800     -0.198      0.843      -8.202       6.697
Documentary     2.0147      2.073      0.972      0.331      -2.049       6.078
Adult         104.5248      6.893     15.164      0.000      91.011     118.039
War            -0.0594      3.065     -0.019      0.985      -6.068       5.949
Biography       0.3871      1.809      0.214      0.831      -3.159       3.934
Western         1.6334      4.265      0.383      0.702      -6.728       9.995
Sport           0.7186      2.653      0.271      0.786      -4.482       5.919
Music          -0.2687      2.463     -0.109      0.913      -5.097       4.559
News            1.3074     10.744      0.122      0.903     -19.756      22.371
Film-Noir       5.7352     19.848      0.289      0.773     -33.177      44.647
==============================================================================
Omnibus:                    14663.983   Durbin-Watson:                   1.811
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       1596729558.530
Skew:                          47.875   Prob(JB):                         0.00
Kurtosis:                    2855.311   Cond. No.                         60.6
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [29]:
y_worldwide = df['ROI_worldwide']

est = sm.OLS(y_worldwide, X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          ROI_worldwide   R-squared:                       0.042
Model:                            OLS   Adj. R-squared:                  0.038
Method:                 Least Squares   F-statistic:                     8.642
Date:                Wed, 22 Apr 2020   Prob (F-statistic):           2.27e-30
Time:                        20:38:47   Log-Likelihood:                -22947.
No. Observations:                4705   AIC:                         4.594e+04
Df Residuals:                    4680   BIC:                         4.610e+04
Df Model:                          24
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const           2.7984      1.561      1.792      0.073      -0.262       5.859
Action          0.9014      1.358      0.664      0.507      -1.761       3.564
Adventure      -0.0012      1.521     -0.001      0.999      -2.984       2.981
Drama           0.0203      1.197      0.017      0.986      -2.327       2.368
Fantasy        -1.0509      1.957     -0.537      0.591      -4.888       2.786
Sci-Fi          0.9329      1.940      0.481      0.631      -2.870       4.736
Thriller        1.0853      1.535      0.707      0.480      -1.924       4.095
Animation       0.0924      2.428      0.038      0.970      -4.668       4.853
Comedy          2.2143      1.205      1.838      0.066      -0.148       4.577
Family         -0.5713      2.055     -0.278      0.781      -4.601       3.458
Crime          -1.7157      1.459     -1.176      0.240      -4.576       1.145
Horror          6.5563      1.813      3.617      0.000       3.002      10.110
History        -0.6738      2.824     -0.239      0.811      -6.210       4.862
Romance         0.5029      1.483      0.339      0.735      -2.404       3.410
Mystery         4.2987      2.008      2.141      0.032       0.363       8.235
Musical        -0.7882      4.316     -0.183      0.855      -9.249       7.673
Documentary     3.4246      2.354      1.455      0.146      -1.190       8.040
Adult         104.3369      7.829     13.326      0.000      88.988     119.686
War             0.4882      3.481      0.140      0.888      -6.337       7.313
Biography       1.0978      2.055      0.534      0.593      -2.930       5.126
Western         0.7800      4.844      0.161      0.872      -8.717      10.277
Sport          -0.2791      3.013     -0.093      0.926      -6.186       5.627
Music           0.1690      2.797      0.060      0.952      -5.315       5.653
News            3.3233     12.203      0.272      0.785     -20.601      27.248
Film-Noir       4.8316     22.544      0.214      0.830     -39.365      49.028
==============================================================================
Omnibus:                    13094.029   Durbin-Watson:                   1.762
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        596569229.078
Skew:                          35.232   Prob(JB):                         0.00
Kurtosis:                    1746.017   Cond. No.                         60.6
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.