In [1]:
import pandas as pd

In [2]:
budget_data = pd.read_csv('../../Sample_Data/Raw/budget.tsv', index_col=False, 
                          names=['name', 'date', 'prod_budget', 'domestic_gross', 'worldwide_gross'], 
                          encoding= 'unicode_escape', sep='\t')

In [3]:
budget_data.head()

,name,date,prod_budget,domestic_gross,worldwide_gross
0,Avengers: Endgame,2019,400000000,858373000,2797800564
1,Pirates of the Caribbean: On Stranger Tides,2011,379000000,241063875,1045663875
2,Avengers: Age of Ultron,2015,365000000,459005868,1403013963
3,Star Wars Ep. VII: The Force Awakens,2015,306000000,936662225,2068223624
4,Avengers: Infinity War,2018,300000000,678815482,2048359754

In [4]:
len(budget_data)

18160

In [11]:
budget_data = budget_data.drop_duplicates()

In [6]:
# remove data where one of budget, domestic bo, and gross bo is 0
n_rows = len(budget_data)

float_cols = ['prod_budget', 'domestic_gross', 'worldwide_gross']
for i in float_cols:
    budget_data.drop(budget_data[budget_data[i] == 0].index, inplace = True)
    
print('removed {} rows'.format(n_rows-len(budget_data)))

removed 1326 rows

In [7]:
# find imdb id for each movie
movie_data = pd.read_csv('../../Sample_Data/Raw/title.basics.tsv/data.tsv', sep='\t')
movie_data.head()

C:\Users\huiwe\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [8]:
# only movie data
n_rows = len(movie_data)
movie_data.drop(movie_data[movie_data['titleType'] != 'movie'].index, inplace = True)
print('removed {} rows'.format(n_rows-len(movie_data)))

removed 6128105 rows

In [9]:
movie_data.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
145,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,20,"Documentary,News,Sport"
332,tt0000335,movie,Soldiers of the Cross,Soldiers of the Cross,0,1900,\N,\N,"Biography,Drama"
499,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
571,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Biography,Crime,Drama"

In [12]:
len(budget_data)

5437

In [13]:
budget_name_list = budget_data['name'].values.tolist()
movie_name_list = movie_data['primaryTitle'].values.tolist()

In [14]:
num = 0
for name in budget_name_list:
    if name in movie_name_list:
         num += 1
print(num)

4786

In [15]:
movie_name_list = movie_data[['primaryTitle', 'tconst', 'isAdult', 'startYear', 'runtimeMinutes', 'genres']].values.tolist()
movie_name_dict = {}
movie_isadult_dict = {}
movie_startyear_dict = {}
movie_runtimeminutes_dict = {}
movie_genres_dict = {}
for i in movie_name_list:
    movie_name_dict[i[0]] = i[1]
    movie_isadult_dict[i[0]] = i[2]
    movie_startyear_dict[i[0]] = i[3]
    movie_runtimeminutes_dict[i[0]] = i[4]
    movie_genres_dict[i[0]] = i[5]

In [16]:
def set_value(row_number, assigned_value): 
    return assigned_value[row_number]

In [17]:
budget_data.drop(budget_data[~budget_data['name'].isin([movie[0] for movie in movie_name_list])].index, inplace = True)
len(budget_data)

4786

In [18]:
budget_data['tconst'] = budget_data['name'].apply(set_value, args =(movie_name_dict, ))
budget_data['isAdult'] = budget_data['name'].apply(set_value, args =(movie_isadult_dict, ))
budget_data['startYear'] = budget_data['name'].apply(set_value, args =(movie_startyear_dict, ))
budget_data['runtimeMinutes'] = budget_data['name'].apply(set_value, args =(movie_runtimeminutes_dict, ))
budget_data['genres'] = budget_data['name'].apply(set_value, args =(movie_genres_dict, ))

In [19]:
budget_data.head()

,name,date,prod_budget,domestic_gross,worldwide_gross,tconst,isAdult,startYear,runtimeMinutes,genres
0,Avengers: Endgame,2019,400000000,858373000,2797800564,tt4154796,0,2019,181,"Action,Adventure,Drama"
1,Pirates of the Caribbean: On Stranger Tides,2011,379000000,241063875,1045663875,tt1298650,0,2011,136,"Action,Adventure,Fantasy"
2,Avengers: Age of Ultron,2015,365000000,459005868,1403013963,tt2395427,0,2015,141,"Action,Adventure,Sci-Fi"
4,Avengers: Infinity War,2018,300000000,678815482,2048359754,tt4154756,0,2018,149,"Action,Adventure,Sci-Fi"
6,Justice League,2017,300000000,229024295,655945209,tt0974015,0,2017,120,"Action,Adventure,Fantasy"

In [20]:
cols = ['tconst', 'name', 'date', 'prod_budget', 'domestic_gross', 'worldwide_gross', 'isAdult', 'startYear', 'runtimeMinutes', 'genres']
budget_data = budget_data.loc[:, cols]

In [21]:
budget_data.to_csv('../../Sample_Data/Processed/budget.title.basics.tsv', sep='\t', index=False)