In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('person.db')  # You can create a new database by changing the name within the quotes
c = conn.cursor() # The database will be saved in the location where your 'py' file is saved

In [5]:
# drop table -PERSON
c.execute("DROP TABLE PERSON")
# Create table - PERSON
c.execute('''CREATE TABLE PERSON
             ([generated_id] INTEGER PRIMARY KEY, [person_id] text, [name] text, [roi] real)''')
conn.commit()
# - Before running the code, make sure that the column names in the CSV files match with the column names in the tables created and in the query below

In [6]:
filename = '../../Sample_Data/Processed/joined.person.roi.tsv'
person_data = pd.read_csv(filename, sep='\t')
person_data.head()

,person_id,roi,name,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000019,0.400000,Federico Fellini,1920,1993,"writer,director,assistant_director","tt0071129,tt0056801,tt0053779,tt0047528"
1,nm0000033,4.016667,Alfred Hitchcock,1899,1980,"director,producer,actor","tt0054215,tt0053125,tt0040746,tt0052357"
2,nm0000037,2.834646,Gene Kelly,1912,1996,"actor,soundtrack,director","tt0043278,tt0045152,tt0041716,tt0053946"
3,nm0000040,2.886793,Stanley Kubrick,1928,1999,"director,writer,producer","tt0072684,tt0066921,tt0062622,tt0120663"
4,nm0000041,1.181932,Akira Kurosawa,1910,1998,"writer,director,assistant_director","tt0051808,tt0057565,tt0089881,tt0080979"

In [7]:
person_data.iloc[:, :3].to_sql('PERSON', conn, if_exists='append', index = False) # Insert the values from the csv file into the table 'CLIENTS'